Click==7.0
Django==2.2.22
django-cors-headers==3.1.1
djangorestframework==3.10.3
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pymemcache==2.2.2
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
Werkzeug==0.16.0
